.chatbot {
    font-size: 0.9em;
    height: 100%;
    border: none;
    max-height: 65vh;
    max-width: 35vw;
  }

  
  
.chat-history {
    overflow-y: auto;
    border: none;
    width: 80%;
    height: 100%;
    max-width: 400px;
    margin: 20px auto;
    padding: 10px;
    background-color: var(--lightgrey);
    border-radius: 8px;
    transition: box-shadow 0.3s;
}

.chat-history:hover{
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}
  
  .message {
    display: flex;
    text-align: left;
    margin-bottom: 10px;

  }
  
  .message.user {
    justify-content: flex-end;
  }
  
  .message.model {
    justify-content: flex-start;
  }

  .message.user p{
    background-color: var(--blue);
    color: white;
    padding: 10px;
    border-radius: 8px;
    display: inline-block;
    max-width: 75%;
  }

  .message.model p{
    background-color: var(--yellow);
    color: black;
    padding: 10px;
    border-radius: 8px;
    display: inline-block;
    max-width: 75%;
  }
  


form {
    width: 60%;
    display: flex;
    border: none;
    border-radius: 50px;
    margin-bottom: 20px;
    padding: 5px;
    background-color: var(--grey);
    justify-content: space-between;
    border: 2px solid transparent;
    transition: box-shadow 0.5s;

}

form:hover{
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

form:focus-within {
    border-color:var(--blue);
}


input[type="text"] {
    width: calc(100% - 80px);
    border-radius: 4px;
    border: none;
    outline: none;
    margin-left: 7px;
    background-color: var(--grey);
    color: white;
}
  
  button[type="submit"] {
    background-color: var(--blue);
    color: white;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease-in-out;
  }

  button[type="submit"] .icon.arrow-icon {
    fill: black;
    height: 15px;
    width: 21px;
  }

  button[type="submit"]:hover {
    transform: scale(1.1);
  }

  button[type="submit"]:disabled {
    background-color: #aaa;
  }
  
  .retry-button {
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    padding: 5px;
  }

  @media screen and (max-width: 768px) {
    .chatbot {
      max-height: none;
      max-width: none;
      height: 100vh;
    }
    .chat-history{
      height: 70vh;
      
    }
  }
  .chat-window {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }