.spotify-container {
    width: 100%;
    height: 100%;
}

.playing-text{
    color: white;
    margin: 15px;
    margin-left: 20px;
    display: flex;
    justify-content: left;
}

.song-working{
    display: flex;
    justify-content: left;
}
.song{
    background-color: var(--lightgrey);
    padding: 20px;
    border-radius: 10px;
    display: inline-flex;
    min-width: 50%;
    flex-direction: row;
    max-height: 33vh;
    min-height: 18vh;
    margin-left: 20px;
}

.song img{
    max-height: 20vh;
    
    border: 2px solid var(--black);
}
.song-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

a{
    text-decoration: none;
    font-weight: 500;
    color: black;
    transition: color 0.5s;
}

a:hover{
    color: blue;
}

p{
    margin: 0;
}

.icon.spotify-icon{
    max-width: 20px;
    max-height: 20px;
    fill: #1DB954;
    margin-right: 10px;
}

