
.spotify-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow: auto;
    justify-content: space-between;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white;
}

.other-stuff,
.spotify-content {
    max-height: 35vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
}

.playing-text {
    padding: 0 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: auto;
}



.letterboxd-movie,
.song-container {
    background-color: var(--lightgrey);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
    max-width: 90%;
    max-height: 90%;
    min-height: 150px;
    padding: 10px;
    transition: box-shadow 0.3s;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.letterboxd-movie:hover{
    box-shadow: 0 0 10px var(--blue);
}

.song-container:hover{
    box-shadow: 0 0 10px var(--yellow);
}


.song{
    display: flex;
    align-items: center;
    justify-content: center;
}

.song.offline {
    display: flex;
    align-items: center;
    justify-content: center;
}

.letterboxd-movie img,
.song img {
    max-width: 100px;
    max-height: 150px;
    object-fit: cover;
    border: 2px solid var(--black);
}

.song-info,
.movie-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    overflow: hidden;
}


.spotify-container p {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.icon.spotify-icon {
    fill: #1DB954;

}

.icon.spotify-icon,
.playing-text .icon.letterboxd-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    flex-shrink: 0;
}

.playing-text .icon.letterboxd-icon .part1 {
    fill: #ff8000; 
  }
  
  .playing-text .icon.letterboxd-icon .part2 {
    fill: #00e054; 
  }
  
  .playing-text .icon.letterboxd-icon .part3 {
    fill: #40bcf4; 
  }
  




@media screen and (max-width: 768px) {
    .spotify-container {
        max-height: none;
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        justify-content: center;
        margin: auto;
    }

    .letterboxd-movie,
    .song-container {
        overflow: hidden;
        max-width: 90%;
    
        min-height: 150px;
        padding: 20px;
    }

    .other-stuff{
        margin-top: 20px;
    }

    .playing-text{
        margin-bottom: 10px;
    }
    
}

  