:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --yellow: #E8FF84;
  --blue: #99ABFD;
  --black: #111111;
  --grey: #333333;
  --lightgrey: #c8c8c8;
}

body {
  margin: 0;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}
