---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="en" class="no-scrollbar">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="peep the website">
    <title>{title}</title>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="icon" href="/rkfavico.png" type="image/x-icon">
    <style is:global>
      /* like i don't even gaf */      
      .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
      }
      
      .no-scrollbar::-webkit-scrollbar {
        display: none;
      }
    </style>
  </head>
  <body class="bg-neutral-900 text-white no-scrollbar overflow-x-hidden">
    <main class="flex justify-center relative z-10 no-scrollbar">
        <slot />
        <!-- <div class="absolute top-0 right-1/2 translate-x-1/2 md:translate-x-0 md:right-2 text-xs">
            <div id="page-load"></div>
          </div> -->
    </main>
    <script>
      // import $ from 'jquery';
     
      // $(function() {
      //   const pageLoadTime = performance.now();
      //   $('#page-load').text(`${Math.round(pageLoadTime)}ms`);
      // });
    </script>
  </body>
</html>